    body {
        background-color: white;
    }

    header {
        height: 35rem;
    }

    #header_section {
        background-image: url("images/stars_background.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 30rem;
    }

    #calibrate_button {
        vertical-align: top;
        position: absolute;
        top: 2rem;
        right: 2rem;
        color: white;
        background-color: green;
        border: 1px solid white;
    }

    #calibrate_button:hover {
        background-color: lightgreen;
        color: black;
    }

    #info {
        position: fixed;
        color: orangered;
    }

    #title {
        vertical-align: top;
        text-align: right;
        font-size: 3rem;
        font-weight: bold;
        padding: 10rem 15rem 0 0;
        color: red;
    }

    #rocket_div {
        width: auto;
        position: fixed;
        top: 15rem;
        left: 1rem;
    }

    #rocket_image {
        width: 20rem;
        height: 20rem;
    }

    #facts_section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: -3rem;
        padding: 1rem 0 1rem 0;
    }

    .facts_subsection {
        display: flex;
        flex-direction: column;
    }

    .placeholder {
        height: 3rem;
        visibility: hidden;
    }

    .fact {
        height: 10rem;
        border-radius: 2rem;
        margin: 1rem;
        border: 3px solid navy;
        background-color: lightblue;
        color:navy;
        font-family: fantasy;
        font-size: 1.5rem;
        text-align: center;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .popup {
        display: inline-block;
        position: fixed;
        visibility: hidden;
        width: 100%;
        color: green;
    }

    .popuptext {
        position: fixed;
        left: 20%;
        top: 10rem;
        width: 60%;
        background-color: aquamarine;
        border-radius: 2rem;
        border: 1px solid aqua;
        color: black;
        padding: 2rem;
        z-index: 1;
    }

    .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }

    .hide {
        visibility: hidden;
    }

    @-webkit-keyframes fadeIn {
        from {opacity: 0;}
        to {opacity: 1;}
    }

    @keyframes fadeIn {
        from {opacity: 0;}
        to {opacity:1 ;}
    }


@media (min-width: 60rem) and (max-width: 70rem) {
    
    #rocket_div {
        top: 20rem;
        left: 1rem;
    }

    #rocket_image {
        width: 15rem;
        height: 15rem;
    }

    #title {
        font-size: 3rem;
    }

    #facts_section {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 40rem) and (max-width: 60rem) {
    
    #rocket_div {
        top: 20rem;
        left: 1rem;
    }
    
    #rocket_image {
        width: 15rem;
        height: 15rem;
    }

    #title {
        font-size: 3rem;
    }

    #facts_section {
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 40rem) {
    
    #rocket_div {
        top: 25rem;
        left: 1rem;
    }
    
    #rocket_image {
        width: 10rem;
        height: 10rem;
    }

    #title {
        font-size: 2rem;
        padding: 10rem 5rem 0 0;
    }

    #facts_section {
        grid-template-columns: 1fr 1fr;
    }

}